.flex {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: none;
    flex-basis: 100%;
    background-color: white;
}

@media (max-width: 657px) {
    .flex {
        flex-wrap: wrap;
        padding: 5px;
        text-align: center;
    }
}

.flex__item {
    padding: 5px;
}

.flex__item--input {
    flex-basis: 80%;
}

@media (max-width: 405px), (min-width: 767px) {
    .flex__item--input {
        flex-basis: 80%;
    }
}

@media (max-width: 657px) {
    .flex__item--input {
        flex-basis: 100%;
    }
}

.flex__item--button {
    flex-basis: 20%;
}

@media (max-width: 405px), (min-width: 767px) {
    .flex__item--button {
        flex-basis: 20%;
    }
}

@media (max-width: 657px) {
    .flex__item--button {
        flex-basis: 100%;
    }
}

.flex__input {
    padding: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.flex__button {
    background-color: teal;
    color: #fff;
    border: none;
    padding: 5px;
    width: 100%;
}