.list {
    padding: 5px;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    grid-gap: 10px;
    word-break: break-all;
    list-style: none;
    padding: 10px 0px;
    border-bottom: 2px solid #ccc;
}

.list__item--done{
    text-decoration: line-through;
}

.list__button{
    background-color: green;
    border: none;
    font-weight: bold;
    height: 25px;
    width: 25px;
    color: white;
}

.list__button:active{
    border: 2px solid black;
}

.list__button--delete{
    background-color: red;
}
