.list {
    padding: 5px;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    grid-gap: 10px;
    word-break: break-all;
    list-style: none;
    padding: 10px 0px;
    border-bottom: 2px solid #ccc;  
    align-items: center;
}

.list__item--done{
    text-decoration: line-through;
}

.list__button{
    background-color: hsl(120, 100%, 25%);
    border: none;
    font-weight: bold;
    height: 30px;
    width: 30px;
    color: white;
    text-align: center;
}

.list__button:hover{
    background-color: hsl(120, 100%, 30%);
}

.list__button:active{
    border: 2px solid black;
    background-color: hsl(120, 100%, 35%);
}

.list__button--delete{
    background-color: hsl(0, 100%, 50%);
}

.list__button--delete:hover{
    background-color: hsl(0, 100%, 60%);
}

.list__button--delete:active{
    background-color: hsl(0, 100%, 65%);
}