html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #ddd;
    padding: 20px;
    font-family: "Lato", sans-serif;
    margin: 30px;
}




