html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #ddd;
    padding: 20px;
    font-family: "Lato", sans-serif;
    margin: 30px;
    max-width: 900px;
}

.body__container {
    background-color: #ddd; 
    padding-bottom: 20px;
}

.body__label {
    font-size: xx-large;
    font-weight: 900;
    
}

.body__container--addNewTaskLabel {
    background-color: white;
    font-size: large;
    font-weight: 900;
    margin-bottom: 1px;
    padding: 10px;
}

.body__container--toDoListLabel {
    background-color: white;
    padding: 10px;
    margin-top: 5px;
} 

.body__label--toDoListLabel{
    font-size: large;
    font-weight: 900;
}

.body__container--toDoList {
    background-color: white;
    padding: 20px; 
    margin-top: 1px;
}


