html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #ddd;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    max-width: 900px;
}

.body__container {
    background-color: #ddd; 
    padding: 10px;
}

.body__container--buttons {
    background-color: white;
}

 @media (max-width: 500px) {
    .body__container--buttons{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
     
    }
} 

.body__label {
    font-size: xx-large;
    font-weight: 900;  
    padding-top: 10px; 
    /* display: grid;
    grid-template-columns: 1fr auto;
     word-break: break-all; 
    align-items: center;
    grid-gap: 20px; */
}


.body__buttons {
    border: none;
    color: hsl(180, 100%, 25%);
    background-color: white;
    font-size: medium;
}

.body__buttons--disabled {
    border: none;
    background-color: white;
    font-size: medium;
}

.body__buttons:active{
    border: 1px solid black;
}

.body__buttons:hover {
    color: hsl(180, 100%, 35%);
}

.body__container--addNewTaskLabel {
    background-color: white;
    font-size: large;
    font-weight: 900;
    margin-bottom: 1px;
    padding: 10px;
}

.body__container--toDoListLabel {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    background-color: white;
    padding: 10px;
    margin-top: 5px;
} 

@media (max-width: 500px){
    .body__container--toDoListLabel{
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}


/* @media (max-width: 752px){
    .body__container--toDoListLabel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;       
    }
} */

.body__label--toDoListLabel{
    font-size: large;
    font-weight: 900;
}

.body__container--toDoList {
    background-color: white;
    padding: 5px 10px; 
    margin-top: 1px;
}


